body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-container{
  border:1px solid black;
  margin-top:20px;
}

.list-container li {
  margin:8px
}

.wlist {
  flex-direction: row;
  display:flex;
  width:100%
}

.wlist div{
  flex:1;
  justify-content:center;
  border: 1px solid black
} 